@font-face
{
    font-family: audiowide;
    src: url("../font/audiowide_regular.ttf");
}

@font-face
{
    font-family: funnelsans;
    src: url("../font/funnelsans_regular.ttf");
}

body
{
    background-color: #f0f8ff;
    font-family: funnelsans;
    font-size: 14pt;
}

h1
{
    font-size: 18pt;
}

h2
{
    font-size: 14pt;
}

div.author
{
    color: #808080;
    font-weight: bold;
}

p
{
    text-align: left;
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
}

p.poem
{
    text-align: center;
}
