@font-face
{
    font-family: audiowide;
    src: url("../font/audiowide_regular.ttf");
}

body
{
    background-color: #f0f8ff;
    font-family: audiowide;
    font-size: 12pt;
}

h1
{
    font-size: 18pt;
}

div.author
{
    color: #808080;
    font-weight: bold;
}

p
{
    text-align: justify;
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
}
